.creditCard {
  width: 320px;
  height: 170px;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #2d60ff, #539bff);
  position: relative;
  color: white;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.chipIcon{
    margin-right: 5px;
}

.balanceLabel {
  font-size: 0.8rem;
}

.balanceAmount {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px 0 0;
}

.cardDetails {
  display: flex;
  justify-content: space-between;
}

.label {
  font-size: 0.7rem;
  opacity: 0.8;
}

.value {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 2px 0 0;
}

.cardNumber {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  align-items: center;
  margin: -20px;
  padding: 15px 20px 15px 20px;
  border-radius: 0 0 20px 20px;
}
