.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  padding: 10px 20px;
  top: 0;
  height: 60px;
  left: 0;
  z-index: 999;
  background-color: white;
  grid-row: 1;
  grid-column: 1 / -1;
  height: 80px;
}

.companylogo {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.companylogo img {
  height: 30px;
}

.companylogo h1 {
  font-size: 1.3rem;
  margin-left: 10px;
}

.rightSideWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchBox {
  width: 230px;
  height: 50px;
  background-color: #f5f7fa;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.searchInput {
  color: #8ba3cb;
  border: none;
  outline: none;
  padding-top: 0px;
}

.searchIcon {
  cursor: pointer;
  height: 30px;
  color: #718ebf;
  margin-right: 5px;
}

.settingsIcon {
  color: #718ebf;
}
.iconWrapper {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  background-color: #f5f7fa;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notificationsIcon {
  color: #fe5c73;
}

.userProfileIcon {
  cursor: pointer;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
